<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bc1b4b19-775e-4884-9118-1b554707e90a/resourceGroups/gRPC-poc/providers/Microsoft.Web/sites/grpc-svc</ResourceId>
    <ResourceGroup>gRPC-poc</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://grpc-svc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5c259dfa-217b-4b90-ae7e-515c256aae1e</ProjectGuid>
    <PublishUrl>https://grpc-svc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$grpc-svc</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>